<header class="page-header">
  <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">Menu</span></button>
  <h2 class="page-title">New Issue</h2>
</header>

<div class="page-content">
  <section class="issue-content js-issue-content">
    <fieldset class="issue-details">

      <div class="form-group">
        <label>Issue Title</label>
        <span class="input-icon icon-featured">
          {{gh-input class="issue-title" value=titleValue name="issue" focus-out="setTitle" placeholder="Title" selectOnClick="true" autocorrect="off"}}
        </span>
      </div>

      <div class="form-group">
          <label>Series</label>
          <span class="input-icon icon-archive">
              {{gh-input class="issue-series" value=seriesValue name="issue-series" focus-out="setSeries" placeholder="e.g. 17.1" stopEnterKeyDownPropagation="true"}}
          </span>
      </div>

      <div class="form-group">
        <label>Publish Date</label>
        <span class="input-icon icon-calendar">
          {{gh-input class="issue-setting-date" value=publishedAtValue name="issue-setting-date" focus-out="setPublishedAt" placeholder=publishedAtPlaceholder stopEnterKeyDownPropagation="true"}}
        </span>
      </div>

      <div class="form-group">
          <label>Tags</label>
          {{render 'issue-tags-input'}}
      </div>

      <div class="form-group">
        <label>Issue URL</label>
        <span class="input-icon icon-link">
          {{gh-input class="post-setting-slug" value=slugValue name="issue-setting-slug" focus-out="updateSlug" placeholder=slugPlaceholder selectOnClick="true" stopEnterKeyDownPropagation="true"}}
        </span>
      </div>

      <div class="form-group">
        <a class="btn btn-default btn-blue" target="_blank" href="{{hb-issue-pdf-url}}">View PDF</a>
      </div>

      <div class="form-group">
        <button {{bind-attr class=":btn :btn-default model.isPublished:btn-red:btn-green" }} {{action "togglePublished"}}>{{#if model.isPublished}}Unpublish{{else}}Publish{{/if}} Issue</button>
      </div>

      {{gh-uploader uploaded="setIssueCover" canceled="clearIssueCover" image=image tagName="section" classNames="cover-uploader"}}

      <div class="issue-article-list">
        {{outlet "issue-article-list"}}
      </div>

      <div class="form-group">
        {{hb-new-article-buttons}}
      </div>

      <div class="form-group">
        <button class="btn btn-default btn-red" {{action "openModal" "delete-issue" this}}>Delete Issue</button>
      </div>
    </fieldset>
  </section>
  <section class="article-content js-article-content">
    {{outlet}}
  </section>
</div>
