<header class="page-header">
  <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">Menu</span></button>
  <h2 class="page-title">New Issue</h2>
</header>

<div class="page-content">
    <fieldset class="issue-details">

        <div class="form-group">
            <label>Issue Title</label>
            {{gh-input class="issue-title" value=titleValue name="issue" focus-out="setTitle" placeholder="Title" selectOnClick="true" autocorrect="off"}}
        </div>

        <div class="form-group">
            <label>Publish Date</label>
            <span class="input-icon icon-calendar">
                {{gh-input class="issue-setting-date" value=publishedAtValue name="issue-setting-date" focus-out="setPublishedAt" placeholder=publishedAtPlaceholder stopEnterKeyDownPropagation="true"}}
            </span>
        </div>

        <div class="form-group">
          {{hb-pdf-uploader uploaded="save" canceled="clear"}}
        </div>

        {{#unless isNew}}
        <a {{action "openModal" "delete-issue" this}} href="#">Delete Issue</a>
        {{/unless}}

    </fieldset>

</div>
