<header class="page-header">
  <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">Menu</span></button>
  <h2 class="page-title">New Issue</h2>
</header>

<div class="settings-content">
  <div class="content">
    <fieldset class="issue-details">

        <div class="form-group">
            <label>Issue Title</label>
            <span class="input-icon icon-featured">
                {{gh-input class="issue-title" value=titleValue name="issue" focus-out="setTitle" placeholder="Title" selectOnClick="true" autocorrect="off" stopEnterKeyDownPropagation="true"}}
            </span>
        </div>

        <div class="form-group">
            <label>Publish Date</label>
            <span class="input-icon icon-calendar">
                {{gh-input class="issue-publish-date" value=publishedAtValue name="issue-publish-date" focus-out="setPublishedAt" placeholder=publishedAtPlaceholder stopEnterKeyDownPropagation="true"}}
            </span>
        </div>

        <div class="form-group">
            <label>Series</label>
            <span class="input-icon icon-archive">
                {{gh-input class="issue-series" value=seriesValue name="issue-series" focus-out="setSeries" placeholder="e.g. 17.1" stopEnterKeyDownPropagation="true"}}
            </span>
        </div>

        <div class="form-group">
            <label>Tags</label>
            {{render 'issue-tags-input'}}
        </div>

        <div class="form-group">
          {{hb-pdf-uploader uploaded="save" canceled="clear"}}
        </div>

    </fieldset>
  </div>
</div>
