{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"> </script>

<style>
@media (max-width: 638px){
  #sideContainer{
    display: none;

  }

}

</style>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" type="javascript"> </script>


{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
  <nav class="hb-navbar hb-navbar-default">
    <div class="hb-container">
      <div class="hb-navbar-header">
        <a class="hb-navbar-brand" href="{{@blog.url}}/">hb</a>
      </div>
      <ul class="hb-nav hb-navbar-nav">
        <!-- <li>{{page_url}}</li> -->
        <!-- {{#if @blog.logo}}<a class="blog&#45;logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}} -->
        <li {{is_active}}><a href="{{@blog.url}}/">Home</a></li>
        <li {{is_active}}><a href="{{@blog.url}}/about/">About</a></li>
        <li {{is_active}}><a href="{{@blog.url}}/issues/">Issues</a></li>
        <li {{is_active}}><a href="{{@blog.url}}/otherblogs/">Other Blogs</a></li>
      </ul>
    </div>
  </nav>
  <!-- <div class="vertical"> -->
  <!--   <div class="main&#45;header&#45;content inner"> -->
  <!--     <h1 class="page&#45;title">{{@blog.title}}</h1> -->
  <!--     <h2 class="page&#45;description">{{@blog.description}}</h2> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <a class="scroll&#45;down icon&#45;arrow&#45;left" href="#content" data&#45;offset="&#45;45"><span class="hidden">Scroll Down</span></a> -->
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

  {{!-- Blog posts --}}
  <div class="row">

    <div class="col-md-9">

        {{> "loop"}}

    </div>


    <div class="col-md-3" > 


      <div id="sideContainer" style="position: relative; background-color: #F2F6F9; border-radius: 10px; padding: 5px; width: 290px;"> 
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false" data-width="270" ></div>

        <br>
        <br>
        <br>
        
        <script type="text/javascript">
        window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
        </script>



      <a class="twitter-timeline" href="https://twitter.com/twitter" data-widget-id="529833018597203968" data-chrome="nofooter transparent" width="270">Tweets by @twitter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        <div class="row">
          <p> </p>
        </div>

      </div>
     </div>


  {{! The tag below includes the post loop - partials/loop.hbs }}


  </div>
  {{!-- Right side --}}

</main>
